<footer>
    <span class="footer_logo">E-learn</span>
    <div class="footerContainer">
        <p class="footerHead">Home</p>
        <a href="javascript: void(0);" class="footerLinks">Overview</a>
        <a href="javascript: void(0);" class="footerLinks">Top colleges</a>
    </div>
    <div class="footerContainer">
        <p class="footerHead">Class Room</p>
        <a href="javascript: void(0);" class="footerLinks">Syllabus</a>
        <a href="javascript: void(0);" class="footerLinks">Library</a>
        <a href="javascript: void(0);" class="footerLinks">Exercise</a>
    </div>
    <div class="footerContainer">
        <p class="footerHead">Feedback</p>
        <a href="javascript: void(0);" class="footerLinks">Problems</a>
        <a href="javascript: void(0);" class="footerLinks">Suggestion</a>
        <a href="javascript: void(0);" class="footerLinks">Request Courses </a>
    </div>
    <div class="footerContainer">
        <p class="footerHead"> About Us</p>
        <a href="javascript: void(0);" class="footerLinks">Project</a>
        <a href="javascript: void(0);" class="footerLinks">Mission/Goal</a>
        <a href="javascript: void(0);" class="footerLinks">Contributors </a>
    </div>
</footer>