<header>
    <section class="links row">
        <nav class="secondary_nav_container row" data-mobile-nav="">
            <ul class="secondary_nav_ul">
                <!--Link 1-->
                <li class="secondary_dropDown_links">
                    <a routerLink="home" data-dropdown="one" mat-dialog-close>Home</a>
                </li>
                <!--link 2-->
                <li class="secondary_dropDown_links">
                    <a href="javascript: void(0)" data-dropdown="two" (click)="Two()">Class Room
                        <span class="dropDown_img"><img src="../../../../assets/images/icon-arrow-dark.svg"
                                alt="icon-arrow-dark"></span>
                    </a>

                    <div class="dropDownContent " id="two" *ngIf="two">
                        <a routerLink="/ClassRoom/Syllabus" class="dropDownContent_links" mat-dialog-close>Syllabus</a>
                        <a routerLink="/ClassRoom/Library" class="dropDownContent_links" mat-dialog-close>Library</a>
                        <a class="dropDownContent_links" mat-dialog-close>Exercise</a>
                    </div>
                </li>
                <!--link 3-->
                <li class="secondary_dropDown_links">
                    <a href="javascript: void(0)" data-dropdown="three" (click)="Three()">Feedback
                        <span class="dropDown_img"><img src="../../../../assets/images/icon-arrow-dark.svg"
                                alt="icon-arrow-dark"></span>
                    </a>

                    <div class="dropDownContent" id="three" *ngIf="three">
                        <a href="javascript: void(0)" class="dropDownContent_links" mat-dialog-close>Problems</a>
                        <a href="javascript: void(0)" class="dropDownContent_links" mat-dialog-close>Suggestion</a>
                        <a href="javascript: void(0)" class="dropDownContent_links" mat-dialog-close>New Courses</a>
                    </div>
                </li>
                <li class="secondary_dropDown_links">
                    <a routerLink="About-us" data-dropdown="one" mat-dialog-close>About Us</a>
                </li>
            </ul>
            <ng-container *ngIf="user$ | async as user; else loginButton" class="login_container">
                <a class="signup" style="
                box-shadow: 3px 3px 10px rgba(0,0,0,0.4);
                background: #ffffff;
                color: #ff3d54;
            " routerLink="profile" mat-dialog-close>
                    <img class="profile-image-toolbar" [width]="30" [height]="30"
                        [src]="user.photoURL || 'assets/images/Profile-placeholder.png'">
                    {{user.displayName}}
                </a>
            </ng-container>
            <ng-container *ngIf="user$ | async as user" class="login_container">
                <a class="signup" (click)="logout()" mat-dialog-close>
                    Log Out
                </a>
            </ng-container>
            <ng-template #loginButton>
                <a mat-button routerLink="login" class="signup" mat-dialog-close>
                    <mat-icon>login</mat-icon>
                    Login
                </a>
            </ng-template>
        </nav>
    </section>
</header>