<header>
    <section class="intro row">
      <h1 class="intro_head">Want to Know BBA-CA</h1>
      <p class="intro_text"> Then let us tell you about it</p>
      <p class="getStarted">
        <a href="#" class="free" title="start for free">Lets Start</a>
        <a href="#" class="learn" title="learn more">Learn More</a>
      </p>
    </section>
  </header>
  <main>
    <h2 class="heading">Introduction to BBA-CA</h2>
    <section class="section-one" id="first">
      <div class="content">
        <div class="content-container">
          <div class="content-title">
            What is BBA(CA)?
          </div>
          <div class="content-main">
            BBA(CA) is a three years undergraduate course under Savitribai Phule Pune University, Pune, Maharashtra. And In this course students are tought all about computer application which are design for end users so they can perform the they intend. This program lasts for three years and equips students with computer as well as Management skills.
          </div>
        </div>
      </div>
      <div class="image">
        <img src="../../../assets/images/Students watching webinar on computer.jpg" alt="">
      </div>
    </section>
    <section class="section-one" id="second">
      <div class="content">
        <div class="content-container">
          <div class="content-title">
            Eligibility for BBA(CA)?
          </div>
          <div class="content-main">
            An applicant who has passed HSC examination of an equivalent examination of any board or university with 45% Marks in Aggregate with english as one of the Passing subject is eligible for addmission to First Year BBA-CA degree course every eligible candidate has to pass comman entrance test to be conducted by the respective institute/college.
          </div>
        </div>
      </div>
      <div class="image">
        <img src="../../../assets/images/6461.jpg" alt="">
      </div>
    </section>
    <section class="section-one" id="first">
      <div class="content">
        <div class="content-container">
          <div class="content-title">
            Difference between BBA-CA from BCA and BBA
          </div>
          <div class="content-main">
           BBA-CA is not the same as BCA or BBA only it sounds similar but it is more advanced course which has the syllabus which the industries will be using in near future or in present so that will be ready for upcomming future.
          </div>
        </div>
      </div>
      <div class="image">
        <img src="../../../assets/images/5514.jpg" alt="">
      </div>
    </section>
  </main>