<header>
    <section class="intro row">
        <h1 class="intro_head">What is E-learn?</h1>
        <p class="intro_text"> Let us tell you about it in detail.</p>
        <!-- <p class="getStarted">
            <a href="#" class="free" title="start for free">Lets Start</a>
            <a href="#" class="learn" title="learn more">Learn More</a>
        </p> -->
    </section>
</header>
<main>
    <h1 class="heading">
        What is E-learn?
    </h1>
    <h3>
        ‘E – learn’ is a Single Page Web Application (SPA) which provides access to
        BBA(CA) students via login for courses or study material which is particularly created
        for them. And, for others it provides Information about BBA(CA) Course like what is
        BBA(CA)? Why BBA(CA)? why Pune university started this Course? and many more.
        This web application will consist of Login/Sign Up, Home/Landing page, etc. This
        application will be build using Front-end technologies such as Angular 13 for
        Framework, HTML5 for Structure, CSS3 for style, bootstrap 5 for Responsiveness,
        TypeScript for implementing Logics and Node JS for Environment, and Firebase for
        Database and APIs.
    </h3>
    <h1 class="heading">
        Our Objective
    </h1>
    <h2>
        For Students
    </h2>
    <h3>
        It is hard to find courses which particularly created for BBA(CA) for students.
        They always must compromise by learning through the courses of BBA and BCA
        courses and to find what is really need for them in those courses. So, by this platform
        we will provide them with suitable courses, PDFs, Exercises and many more. which is
        particularly made by considering their Syllabus so that it can be more useful for them.
    </h3>
    <h2>
        For Others
    </h2>
    <h3>
        Our Motive is to provide a Platform where people will find all the information
        about BBA(CA) course and learn that BBA(CA) is not the same as BCA or BBA only is
        sounds similar, but it is much more advanced course which has the syllabus which the
        industries will be using in near future or in present so that students will be ready for the
        upcoming future. So, that People/Company will stop misunderstanding and give us a
        proper recognition as BBA(CA) students.
    </h3>
    <h1 class="heading">
        Technologies
    </h1>
    <h3>
        <ul>
            <li>Angular 13 (Framework)</li>
            <li>Node JS LTS version (Runtime Environment)</li>
            <li>HTML5 (For structure)</li>
            <li>CSS3 (For style)</li>
            <li>Bootstrap5 (To Make it Responsive For each Screen Size)</li>
            <li>TypeScript (To Implement Logics)</li>
            <li>Firebase (to Build database, APIs, etc.)</li>
        </ul>
    </h3>
</main>