@import '../../../assets/style/header.css';
h3,h2{
    text-align: justify;
    width: 70%;
    margin: auto;
}
@media (max-width: 400px){
    h3{
        text-align: center;
    }
}
h2{
    font-size: 24px;
    color: #1f3f5b;
    font-weight: 700;
    text-align: center;
    margin: 1rem auto;
}
.heading{
    margin-top: 2rem;
}
ul{
    text-align: left;
}