<header>
    <section class="intro row">
        <h1 class="intro_head">Want to know About Syllabus</h1>
        <p class="intro_text"> Let's Explore it together and Know more</p>
        <!-- <p class="getStarted">
            <a href="#" class="free" title="start for free">Lets Start</a>
            <a href="#" class="learn" title="learn more">Learn More</a>
        </p> -->
    </section>
</header>
<main>
    <section class="section-one">
        <h1 class="section-title heading">
            Syllabus
        </h1>
        <div class="title-discription">
            <p>
                A Syllabus is a document that communicates information about specific course or class and defines expectation and responsiblities. It is generally and overview or summary of the curriculum.
            </p>
        </div>
    </section>
    <section class="section-two">
        <mat-tab-group dynamicHeight mat-align-tabs="center" MatTabBodyPositionState = 'center'>
            <mat-tab label="First Year">
              <div class="syllabus-card mat-elevation-z4">
                <div class="syllabus-card-heading">
                    <p class="syllabus-card-heading-title">
                        First Semester
                    </p>
                    <div class="syllabus-card-heading-discription">
                        <h3>Subjects</h3>
                    </div>
                </div>
                <div class="syllabus-card-content">
                    <ul class="syllabus-card-component-subjects">
                        <li class="syllabus-card-component-subject">Bussiness Communication</li>
                        <li class="syllabus-card-component-subject">Principal Of Management</li>
                        <li class="syllabus-card-component-subject">C Language</li>
                        <li class="syllabus-card-component-subject">DataBase Management System</li>
                        <li class="syllabus-card-component-subject">Statistics</li>
                        <li class="syllabus-card-component-subject">Principles of Programming Algorithm (Add-on subject)</li>
                    </ul>
                </div>
                <!-- <div class="syllabus-card-action">
                    <button mat-raised-button class="syllabus-card-action-button" routerLink="/ClassRoom/Syllabus/FirstYear/FirstSemester">
                        Read More
                    </button>
                </div> -->
              </div>
              <div class="syllabus-card mat-elevation-z4">
                <div class="syllabus-card-heading">
                    <p class="syllabus-card-heading-title">
                        Second Semester
                    </p>
                    <div class="syllabus-card-heading-discription">
                        <h3>Subjects</h3>
                    </div>
                </div>
                <div class="syllabus-card-content">
                    <ul class="syllabus-card-component-subjects">
                        <li class="syllabus-card-component-subject">Organization Behavior & Human Resource Managementli>
                        <li class="syllabus-card-component-subject">Financial Accounting</li>
                        <li class="syllabus-card-component-subject">Business Mathematics</li>
                        <li class="syllabus-card-component-subject">Relational Database</li>
                        <li class="syllabus-card-component-subject">Web Technology HTML-JS-CSS</li>
                        <li class="syllabus-card-component-subject">Advanced C (Add-on subject)</li>
                    </ul>
                </div>
                <!-- <div class="syllabus-card-action">
                    <button mat-raised-button class="syllabus-card-action-button" routerLink="/ClassRoom/Syllabus/FirstYear/FirstSemester">
                        Read More
                    </button>
                </div> -->
              </div>
            </mat-tab>
            <mat-tab label="Second Year">
                <div class="syllabus-card mat-elevation-z4">
                    <div class="syllabus-card-heading">
                        <p class="syllabus-card-heading-title">
                            Third Semester
                        </p>
                        <div class="syllabus-card-heading-discription">
                            <h3>Subjects</h3>
                        </div>
                    </div>
                    <div class="syllabus-card-content">
                        <ul class="syllabus-card-component-subjects">
                            <li class="syllabus-card-component-subject">Digital Marketing</li>
                            <li class="syllabus-card-component-subject">Data Structure</li>
                            <li class="syllabus-card-component-subject">Software Engineering</li>
                            <li class="syllabus-card-component-subject">Angular JS or PHP</li>
                            <li class="syllabus-card-component-subject">Big Data or Blockchain</li>
                            <li class="syllabus-card-component-subject">Environment Awareness</li>
                        </ul>
                    </div>
                    <!-- <div class="syllabus-card-action">
                        <button mat-raised-button class="syllabus-card-action-button" routerLink="/ClassRoom/Syllabus/FirstYear/FirstSemester">
                            Read More
                        </button>
                    </div> -->
                  </div>
                  <div class="syllabus-card mat-elevation-z4">
                    <div class="syllabus-card-heading">
                        <p class="syllabus-card-heading-title">
                            Fourth Semester
                        </p>
                        <div class="syllabus-card-heading-discription">
                            <h3>Subjects</h3>
                        </div>
                    </div>
                    <div class="syllabus-card-content">
                        <ul class="syllabus-card-component-subjects">
                            <li class="syllabus-card-component-subject">Networking</li>
                            <li class="syllabus-card-component-subject">Object Oriented Programming with C++</li>
                            <li class="syllabus-card-component-subject">Operating Systems</li>
                            <li class="syllabus-card-component-subject">NODE JS or Advanced PHP</li>
                            <li class="syllabus-card-component-subject">jQuery (Add-on subject)</li>
                        </ul>
                    </div>
                    <!-- <div class="syllabus-card-action">
                        <button mat-raised-button class="syllabus-card-action-button" routerLink="/ClassRoom/Syllabus/FirstYear/FirstSemester">
                            Read More
                        </button>
                    </div> -->
                  </div>
            </mat-tab>
            <mat-tab label="Third Year">
                <div class="syllabus-card mat-elevation-z4">
                    <div class="syllabus-card-heading">
                        <p class="syllabus-card-heading-title">
                            Fifth Semester
                        </p>
                        <div class="syllabus-card-heading-discription">
                            <h3>Subjects</h3>
                        </div>
                    </div>
                    <div class="syllabus-card-content">
                        <ul class="syllabus-card-component-subjects">
                            <li class="syllabus-card-component-subject">Cyber Security</li>
                            <li class="syllabus-card-component-subject">OOSE</li>
                            <li class="syllabus-card-component-subject">Core Java</li>
                            <li class="syllabus-card-component-subject">Mongo DB or Python</li>
                            <li class="syllabus-card-component-subject">Project</li>
                            <li class="syllabus-card-component-subject">IoT (Add-on subject)</li>
                        </ul>
                    </div>
                    <!-- <div class="syllabus-card-action">
                        <button mat-raised-button class="syllabus-card-action-button" routerLink="/ClassRoom/Syllabus/FirstYear/FirstSemester">
                            Read More
                        </button>
                    </div> -->
                  </div>
                  <div class="syllabus-card mat-elevation-z4">
                    <div class="syllabus-card-heading">
                        <p class="syllabus-card-heading-title">
                            Sixth Semester
                        </p>
                        <div class="syllabus-card-heading-discription">
                            <h3>Subjects</h3>
                        </div>
                    </div>
                    <div class="syllabus-card-content">
                        <ul class="syllabus-card-component-subjects">
                            <li class="syllabus-card-component-subject">Software Testing</li>
                            <li class="syllabus-card-component-subject">Advanced Java</li>
                            <li class="syllabus-card-component-subject">Android Programming or Dot Net Framework</li>
                            <li class="syllabus-card-component-subject">Project</li>
                            <li class="syllabus-card-component-subject">Programming</li>
                            <li class="syllabus-card-component-subject">Soft Skill Tarining (Add-on subject)</li>
                        </ul>
                    </div>
                    <!-- <div class="syllabus-card-action">
                        <button mat-raised-button class="syllabus-card-action-button" routerLink="/ClassRoom/Syllabus/FirstYear/FirstSemester">
                            Read More
                        </button>
                    </div> -->
                  </div>
              </mat-tab>
          </mat-tab-group>          
    </section>
    <!-- <button mat-button routerLink="/ClassRoom/Syllabus/FirstYear/FirstSemester">Read more</button> -->
</main>